data/
lexicons/
corpora/
*.csv
*.txt
*.json
*.sqlite
__pycache__/
.venv/
xmls/
*.clatin
vulgultra-cli/target/

Archive/
Archive.zip
*.zip

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
*.bz2
vendor/
*.jsonl
kaikki.org-dictionary-*.jsonl
